<p>
  <label><%= "repo_local_path" %></label>
  <%= text_field_tag 'settings[repo_local_path]', @settings['repo_local_path'] %>
</p>
<p>
  <label><%= "repo_server_path" %></label>
  <%= text_field_tag 'settings[repo_server_path]', @settings['repo_server_path'] %>
</p>
<p>
  <label><%= "repo_template_id" %></label>
  <%= text_field_tag 'settings[repo_template_id]', @settings['repo_template_id'] %>
</p>
<p>
  <label><%= "repo_redmine_path" %></label>
  <%= text_field_tag 'settings[repo_redmine_path]', @settings['repo_redmine_path'] %>
</p>
<p>
  <label><%= "import_path" %></label>
  <%= text_field_tag 'settings[import_path]', @settings['import_path'] %>
</p>
<p>
  <label><%= "reporting_path" %></label>
  <%= text_field_tag 'settings[reporting_path]', @settings['reporting_path'] %>
</p>
<p>
  <label><%= "reporting_img_path" %></label>
  <%= text_field_tag 'settings[reporting_img_path]', @settings['reporting_img_path'] %>
</p>
<p>
  <label><%= "export_path" %></label>
  <%= text_field_tag 'settings[export_path]', @settings['export_path'] %>
</p>
<p>
  <label><%= "export_template_path" %></label>
  <%= text_field_tag 'settings[export_template_path]', @settings['export_template_path'] %>
</p>
<p>
  <label><%= "reporting_template_path" %></label>
  <%= text_field_tag 'settings[reporting_template_path]', @settings['reporting_template_path'] %>
</p>


