<h2>Exporting a project file</h2>

<p>THIS WILL OVERWRITE THE EXPORT FILES AT REPOSITORY.</p>
<%= textilizable("* Hint: You can upload a new template file at document:csysTemplate and check the option 'Import a new template ...'") %>
<%= textilizable("* Hint: You can download the exported main file from source:\"csys|#{@project.csys_git.get_export_path[0]}\" ") %>
<%= textilizable("* Hint: If you select to include the subprojects the exported files can be found at source:\"csys|#{File.dirname(@project.csys_git.get_export_path[0])}\" ") %>

<%= form_tag({:controller => 'cosmosys_git', :action => 'export'}, :class => "tabular", :multipart => true) do %>
  <h3>Previous steps </h3>
  <p>
    <label><%= "Import a new template from documents section to the repository" %> </label>
    <%= check_box_tag 'export[import_template]', 1, @export['import_template'] %>
  </p>

  <h3>Export parameters </h3>
  <p>
    <label><%= "Include all the normal fields available" %> </label>
    <%= check_box_tag 'export[include_fields]', 1, @export['include_fields'] %>
  </p>
  <p>
    <label><%= "Include all the custom fields available" %> </label>
    <%= check_box_tag 'export[include_cfields]', 1, @export['include_cfields'] %>
  </p>
  <p>
    <label><%= "Include subprojects" %> </label>
    <%= check_box_tag 'export[include_subprojects]', 1, @export['include_subprojects'] %>
  </p>

  <%= hidden_field_tag 'export[token]', 'VUBJKB23UIVI1UU1VOBVI@' %>

<%= submit_tag l(:button_export) %>
<% end %>
