<h2>CosmosysGitController#import</h2>

<p>THIS WILL UPLOAD THE IMPORT DOCUMENT FROM THE REPOSITORY.</p>
<%= form_tag({:controller => 'cosmosys_git', :action => 'import'}, :class => "tabular", :multipart => true) do %>

    <h3>Previous steps </h3>
    <p>
      <label><%= "Import requirements_file from documents section to the repository" %> </label>
      <%= check_box_tag 'import[from_documents]', 1, @import['from_documents'] %>
    </p>
    <h3>Import parameters </h3>
    <p>-- No parameters at the moment</p>
    <%= hidden_field_tag 'import[token]', 'VUBJKB23UIVI1UU1VOBVI@' %>

    <%= submit_tag l(:button_import) %>

<% end %>

